*{
	margin: 0;
	padding: 0;
}

#nav_menu{

	>div{
		background: #008D7F;
	}
}

#container{
	margin-top: 10px;
}

#text_logo{
	font-weight: 100;
	vertical-align: top;

	@media only screen and (min-width: 992px){
		margin-left: 10px;
	}

	>img{
		@media only screen and (max-width: 992px){
			display: none;
		}
	}
}

.card{
	&.yes_approved{
		border: 2px solid #1b5e20;
	}

	&.no_approved{
		border: 2px solid #bf360c;
	}
}

.list_requests{

	.item_request{
		//background: #eceff1;
		margin-top: 5px;
		min-height: 100px;
		padding: 5px;
		color: #4b5c67;

		.applicant{
			font-size: 1.5em;
    		margin: inherit;
    		font-weight: 300;

    		@media only screen and (min-width: 992px){
				font-size: 1.7em;
			}
		}

		.request_date{
			font-size: .85em;
			@media only screen and (min-width: 992px){
				font-size: 1em;
			}
		}

		p{
			font-weight: 300;
		}
	}
}