* {
  margin: 0;
  padding: 0;
}
#nav_menu > div {
  background: #008D7F;
}
#container {
  margin-top: 10px;
}
#text_logo {
  font-weight: 100;
  vertical-align: top;
}
@media only screen and (min-width: 992px) {
  #text_logo {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 992px) {
  #text_logo > img {
    display: none;
  }
}
.card.yes_approved {
  border: 2px solid #1b5e20;
}
.card.no_approved {
  border: 2px solid #bf360c;
}
.list_requests .item_request {
  margin-top: 5px;
  min-height: 100px;
  padding: 5px;
  color: #4b5c67;
}
.list_requests .item_request .applicant {
  font-size: 1.5em;
  margin: inherit;
  font-weight: 300;
}
@media only screen and (min-width: 992px) {
  .list_requests .item_request .applicant {
    font-size: 1.7em;
  }
}
.list_requests .item_request .request_date {
  font-size: .85em;
}
@media only screen and (min-width: 992px) {
  .list_requests .item_request .request_date {
    font-size: 1em;
  }
}
.list_requests .item_request p {
  font-weight: 300;
}
