<!DOCTYPE html>
<html lang="en" ng-app="bizagi_app">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--
	<link rel="stylesheet" type="text/css" href="vendor/materialize/dist/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	-->
	<link rel="stylesheet" type="text/css" href="dist/css/bizagi_inbox.min.css">
	<title>Bizagi Inbox</title>
</head>
<body>
	<div class="navbar-fixed">
		<nav id="nav_menu">
		    <div class="nav-wrapper">
		      <a href="#/inbox" class="brand-logo" id="text_logo">
		      	<img src="images/Bizagi-avatar.png" width="50">
		      	{{mainTitle}}
		      </a>
		      <a href="#" data-activates="mobile_menu" class="button-collapse"><i class="large material-icons">reorder</i></a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="#/inbox">Inbox</a></li>
		        <li><a href="http://bizagi.com">Salir</a></li>
		      </ul>
		      <ul class="side-nav" id="mobile_menu">
		      	<li>
		      		<img src="images/Bizagi_BPM_Suite_logo.png" width="200">
		      	</li>
		        <li>
		        	<a href="#/inbox">
		        	Inbox
		        	</a>
		        </li>
		        <li><a href="http://bizagi.com">Salir</a></li>
		      </ul>
		    </div>
		  </nav>
	</div>
	<div id="container">
        <div class="row">
	      <div class="col s12" ng-view>
	      </div>
	    </div>
    </div>
    <!--
    <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="vendor/moment/moment.js"></script>
    <script type="text/javascript" src="vendor/moment/locale/es.js"></script>
    <script type="text/javascript" src="vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="vendor/angular-moment/angular-moment.min.js"></script>
    <script type="text/javascript" src="vendor/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="vendor/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="app/js/interface.js"></script>
    <script type="text/javascript" src="app/js/app.js"></script>
    <script type="text/javascript" src="app/js/factories/consumer_rest.js"></script>
    <script type="text/javascript" src="app/js/controllers/inbox_controller.js"></script>
     -->
	 <script type="text/javascript" src="dist/js/bizagi_inbox.js"></script>
</body>
</html>