<ul class="list_requests">
	<li class="item_request row" ng-repeat="request in requests">
        <div class="col s12 m12">
          <div class="card blue-grey lighten-5"
          	ng-class="{'yes_approved': request.status == 'S', 'no_approved': request.status == 'N'}">
            <div class="card-content dark-text">
              <span class="card-title black-text">{{request.employee}}</span>
              <br>
              <b>{{request.requestDate | amDateFormat: 'dddd, MMMM Do YYYY'}}</b>
              <p>{{request.message}}</p>
              <br>
              <strong>De:</strong><span> {{request.beginDate | amDateFormat: 'dddd, MMMM Do YYYY'}}</span>
              <br>
              <strong>Hasta:</strong><span> {{request.endDate | amDateFormat: 'dddd, MMMM Do YYYY'}}</span>
              <br>
              <p ng-show="request.status == 'N'">
              	<strong>Rechazada por: </strong>
              	{{request.reject_message}}
              </p>
            </div>
            <div class="card-action">
              <a class="btn white-text modal-trigger" 
              	href="#"
              	title="Aceptar"
              	onclick="return false;"
              	ng-click="approveRequest(request)"
              	ng-class="{'disabled': request.processed}" >
              	<i class="large material-icons left">thumb_up</i>
              </a>
              <a class="btn white-text deep-orange accent-4 modal-trigger reject-request" 
              	href="#" 
              	title="Rechazar"
              	ng-click="setSelectedRequest(request)"
              	onclick="return false;"
              	ng-class="{'disabled': request.processed}" >
              	<i class="large material-icons left">thumb_down</i>
              </a>
            </div>
          </div>
        </div>
	</li>
</ul>

<div id="modal_reject_request" class="modal">
    <div class="modal-content">
      <h4>Rechazar Peticion</h4>
      <div class="row">
	    <form class="col s12">
	      <div class="row">
	        <div class="input-field col s12">
	          <textarea id="reason_reject" ng-model="reason_reject" class="materialize-textarea"></textarea>
	          <label for="reason_reject">Razon Rechazo</label>
	        </div>
	      </div>
	    </form>
	  </div>
    </div>
    <div class="modal-footer">
      <a href="#" 
      	ng-click="rejectSelectedRequest()" 
      	onclick="return false;" 
      	class=" modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>